MNIST_data/
LabelGAN.egg-info/
logs/
.git/
.ipynb_checkpoints/
/diffeomorphism-tensorflow.ipynb
lgan/__pycache__/
faces_only/
faces/
out/
out-celebA/
setup.py/
checkpoints-celeba/
out-celeba-faces/
out-celebA-faces/
out-mnist
LabelGAN-celebA-mean.ipynb
LabelGAN-Faces.ipynb